
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container2 {
    display: flex;
    align-items: center;
  }
  
  .container3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
  }
  
  .number {
    font-size: 120px;
    margin-top: -200px;
  }